<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>YahooFinance.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
			<key>Title</key>
			<string>yahoo! finance</string>
			<key>URL</key>
			<string>https://finance.yahoo.com/quote/{popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://finance.yahoo.com/</string>
			<key>Name</key>
			<string>yahoo! finance</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the stock using yahoo! finance.</string>
	<key>Extension Identifier</key>
	<string>com.yahoo.finance.extension.yahoo-finance-search</string>
	<key>Extension Name</key>
	<string>yahoo! finance</string>
</dict>
</plist>
